*~
*.7z
*.a
*.aux
*.backup
*.bak
*.bbl
*.blg
*.cache
*.cbTemp
*.cbp
*.cscope_file_list
*.d
*.db
*.depend
*.dll
*.dvi
*.exe
*.exp
*.filters
*.idb
*.ilk
*.ipch
*.kate-swp
*.lastbuildstate
*.lastcodeanalysissucceeded
*.layout
*.lib
*.lof
*.log
*.make
*.manifest
*.o
*.obj
*.opendb
*.opensdf
*.orig
*.out
*.pdb
*-converted-to.pdf
*.prof
*.psess
*.rc
*.res
*.save
*.save-failed
*.sdf
*.sln
*.so
*.suo
*.sync-conflict-*
*.synctex.gz
*.tlog
*.tmp
*.toc
*.user
*.vcxproj
*.vsp
*_d
*_p
*_r
/.vs
/experiment-adv
/experiment-bw
/experiment-bw2
/experiment-bw2-long
/experiment-bw2-long-again
/experiment-mc
/experiment-pw
/experiments
/advent
/blocks_world
/blocks_world_2
/cart_pole
/console
/mountain_car
/obj
/post-collapse-*
/pre-collapse-*
/post-expansion-*
/pre-expansion-*
/puddle_world
/tetris
.~lock.*
.syncthing*
bw2.txt
callgrind.out.*
carli.workspace
core
codeblocks_dbgrpt-*
dump.txt
git.h
gmon.txt
Makefile
rules-out.txt
seed.txt
stderr.txt
