*~
*.7z
*.a
*.aux
*.backup
*.bak
*.bbl
*.blg
*.cache
*.cbTemp
*.cbp
*.cscope_file_list
*.d
*.depend
*.dll
*.dvi
*.exe
*.exp
*.filters
*.idb
*.ilk
*.ipch
*.kate-swp
*.lastbuildstate
*.layout
*.lib
*.lof
*.log
*.make
*.manifest
*.o
*.obj
*.opensdf
*.orig
*.out
*.pdb
*-converted-to.pdf
*.prof
*.psess
*.rc
*.res
*.save
*.sdf
*.sln
*.so
*.suo
*.synctex.gz
*.tlog
*.toc
*.user
*.vcxproj
*.vsp
*_d
*_p
*_r
/experiment-bw
/experiment-bw2
/experiment-mc
/experiment-pw
/experiments
/blocks_world
/blocks_world_2
/cart_pole
/console
/mountain_car
/obj
/post-collapse-*
/pre-collapse-*
/post-expansion-*
/pre-expansion-*
/puddle_world
/tetris
.~lock.*
bw2.txt
callgrind.out.*
carli.workspace
core
dump.txt
git.h
Makefile
rules-out.txt
seed.txt
stderr.txt
