*~
*.aux
*.backup
*.bak
*.bbl
*.blg
*.cache
*.dvi
*.exe
*.filters
*.idb
*.ilk
*.ipch
*.lastbuildstate
*.log
*.manifest
*.obj
*.opensdf
*.pdb
*.psess
*.rc
*.res
*.sdf
*.sln
*.suo
*.synctex.gz
*.tlog
*.user
*.vcxproj
